body {
  background-color: #ebebeb;
}
.navbar-inverse {
  background-color: #424242;
  position: relative;
  padding: 16px 0;
}
.navbar-inverse h1 {
  display: none;
}
.navbar-nav .active a {
  background-color: transparent !important;
}
.navbar-nav a:hover {
  color: #b5e81a !important;
  text-decoration: none;
  transition: color 800ms ease;
  -moz-transition: color 800ms ease;
  -o-transition: color 800ms ease;
  -webkit-transition: color 800ms ease;
  -ms-transition: color 800ms ease;
}
.nav-pills {
  float: left;
}
.nav-icon {
  padding: 10px 8px;
  float: left;
}
.nav-icon a:focus {
  background-color: rgba(0,0,0,0);
}
.nav-icon a.ico-1 {
  background-position: 0 0;
  background-image: url('../ico/ico-nav.png');
  width: 30px;
  height: 30px;
}
.nav-icon a.ico-1:hover {
  background-position: 0 33px;
  transition: background-position 400ms ease;
  -moz-transition: background-position 400ms ease;
  -o-transition: background-position 400ms ease;
  -webkit-transition: background-position 400ms ease;
  -ms-transition: background-position 400ms ease;
  background-color: rgba(0,0,0,0) !important;
}
.nav-icon a.ico-2 {
  background-position: -33px 0;
  background-image: url('../ico/ico-nav.png');
  width: 30px;
  height: 30px;
}
.nav-icon a.ico-2:hover {
  background-position: -33px 33px;
  transition: background-position 400ms ease;
  -moz-transition: background-position 400ms ease;
  -o-transition: background-position 400ms ease;
  -webkit-transition: background-position 400ms ease;
  -ms-transition: background-position 400ms ease;
  background-color: rgba(0,0,0,0) !important;
}
.nav2-icon {
  padding: 10px 2px;
  float: left;
}
.nav2-icon a.ico-3 {
  background-position: 32px 0;
  background-image: url('../ico/ico-nav.png');
  width: 30px;
  height: 30px;
}
.nav2-icon a.ico-3:hover {
  background-position: 32px 30px;
  transition: background-position 400ms ease;
  -moz-transition: background-position 400ms ease;
  -o-transition: background-position 400ms ease;
  -webkit-transition: background-position 400ms ease;
  -ms-transition: background-position 400ms ease;
  background-color: rgba(0,0,0,0) !important;
}
.nav2-icon a.ico-4 {
  background-position: 62px 0;
  background-image: url('../ico/ico-nav.png');
  width: 30px;
  height: 30px;
}
.nav2-icon a.ico-4:hover {
  background-position: 62px 31px;
  transition: background-position 400ms ease;
  -moz-transition: background-position 400ms ease;
  -o-transition: background-position 400ms ease;
  -webkit-transition: background-position 400ms ease;
  -ms-transition: background-position 400ms ease;
  background-color: rgba(0,0,0,0) !important;
}
.bt-search {
  margin-top: 10px;
  width: auto !important;
  float: left;
}
.btn {
  border: none;
}
.btn-success {
  background: #99d600;
}
.btn-success:hover {
  background-color: #d1fb32 !important;
  text-decoration: none;
  transition: background-color 800ms ease;
  -moz-transition: background-color 800ms ease;
  -o-transition: background-color 800ms ease;
  -webkit-transition: background-color 800ms ease;
  -ms-transition: background-color 800ms ease;
}
.btn-success:active {
  background: #b5e81a;
}
.btn-default {
  background: #ebebeb;
}
.btn-default:hover {
  background: #fafafa;
}
aside {
  background-color: #fff;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
}
.main {
  background-color: #fafafa;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
}
.my-alert {
  float: left;
  display: inline-flex;
  padding: 5px 15px;
  margin-right: 10px;
}
.alert-dismissable .close {
  position: relative;
  top: 2px;
  right: -7px;
  color: inherit;
}
.col-md-3 #accordion.panel-group {
  border-radius: 0;
  border: none;
}
.col-md-3 #accordion.panel-group .panel {
  border-radius: 0;
  border: none;
}
input[type="checkbox"] {
  width: 15px;
  height: 0;
}
input[type="checkbox"]:before {
  content: " ";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #eee;
  background-image: -webkit-linear-gradient(#fff,#dedede);
  background-image: linear-gradient(#fff,#dedede);
  border: #ccc solid 1px;
  border-radius: 3px;
}
input[type="checkbox"]:checked:before {
  background-image: -webkit-linear-gradient(top,#5cb85c 0,#419641 100%);
  background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c',endColorstr='#ff419641',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: #4cae4c solid 1px;
  border-color: #3e8f3e;
}
.favorite {
  display: none;
}
.favorite:checked + .glyphicon:before {
  color: #fffb00;
}
.evalue-table input {
  cursor: pointer;
  float: left;
}
.evalue-table .glyphicon:before {
  cursor: pointer;
  font-size: 18px;
  color: #f9f9f9;
  text-shadow: 0 0px 2px rgba(0,0,0,0.7);
}
.evalue-table .label {
  padding: 6px;
  font-size: 0;
  color: transparent;
  border-radius: 50%;
  vertical-align: middle;
}
#eval .panel-body input[type="checkbox"]:before {
  margin-top: -12px;
  float: left;
}
.pagination {
  margin: 20px 50px;
}
