body {
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

/*******************OverWrite Bootstrap CSS*************************/

.navbar-inverse {
    /*background-color : #424242 !important;*/
	background-image: none !important;
    background-repeat: repeat-x;
}

.favorite{
	display:none;
}

.evalue-table .glyphicon:before,
.evalue-table input{
	cursor: pointer;
}

.evalue-table input{
	float: left;
}
.evalue-table .glyphicon:before{
	font-size: 18px;
	color: #f9f9f9;
	text-shadow: 0 0px 2px rgba(0,0,0,.7);
}

.favorite:checked + .glyphicon:before{
	color: #fffb00;
}

input[type="checkbox"]{
	width: 15px;
	height: 0;
}
input[type="checkbox"]:before{
	content: " ";
	display: inline-block;
	width: 14px;
	height: 14px;
	background-color: #eee;
	background-image: -webkit-linear-gradient(#fff,#dedede);
	background-image: linear-gradient(#fff,#dedede);
	border: #ccc solid 1px;
	border-radius: 3px;
}
input[type="checkbox"]:checked:before{
	background-image: -webkit-linear-gradient(top,#5cb85c 0,#419641 100%);
	background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
	background-repeat: repeat-x;
	border-color: #3e8f3e;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c',endColorstr='#ff419641',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border: #4cae4c solid 1px;
}

#eval .panel-body input[type="checkbox"]:before {
	margin-top: -12px;
	float: left;
}
.evalue-table .label{
	padding: 6px;
	font-size: 0;
	color: transparent;
	border-radius: 50%;
	vertical-align: middle;
}

.pagination{
	margin: 20px 50px;
}

.col-md-3 #accordion.panel-group .panel,
.col-md-3 #accordion.panel-group{
	border-radius: 0;
	border: none;
}